include *.rst
include *.txt

recursive-include src *

global-exclude *.pyc
global-exclude *.pyo

prune src/z3c/autoinclude/tests/*/build
prune src/z3c/autoinclude/tests/*/dist
prune src/z3c/autoinclude/tests/*/*.egg-info
